datasets 
huggingface_hub
ollama
tree_sitter
tree-sitter-python==0.21
tree-sitter-java==0.21.0
codebleu
sentence_transformers
torch
torchvision --index-url https://download.pytorch.org/whl/cu130
dotenv
accelerate>=0.26.0
parso
astor
matplotlib
python-Levenshtein
libcst